* {
  font-family: arial;
}

body {
  align-items: center;
  background: linear-gradient(135deg,#fddb92, #d1fdff);
  display: flex;
  height: 100dvh;
  justify-content: center;
  margin: 0;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
  border-radius: 25px;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.arrow{
  height: 20px;
}

.logo{
  height: 30px;
}

.picture{
  text-align: center;
}

.picture img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}


/* xs */
@media (min-width: 380px) {
  .container {
    max-width: 275px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 440px;
  }

  .text{
    padding: 0 20px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 568px;
  }

  .text{
    padding: 0 40px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 724px;
  }

  .info{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .test{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
}

/* xl */
@media (min-width: 1280px) {
  .container {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    padding: 50px;
    
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    background-color: white;
    height: 550px;
    width: 850px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    padding: 50px;
    
  }

  .logo{
    height: 40px;
  }
}